LIB_GTEST = ~/googletest/googlemock/gtest/libgtest.a  ~/googletest/googlemock/gtest/libgtest_main.a
INC_GTEST = ~/googletest/googletest/include

LIB_SNAPPY = ~/snappy/.libs/libsnappy.a
INC_SNAPPY = ~/snappy

LIB_LZ4 = ~/lz4/lib/liblz4.a
INC_LZ4 = ~/lz4/lib/

LIB_SIMDCOMP = ~/simdcomp/libsimdcomp.so.0.0.3
INC_SIMDCOMP = ~/simdcomp/include

LIB_VCOMPRESS = ~/integer_encoding_library/libvcompress.a
INC_VCOMPRESS = ~/integer_encoding_library/include


